html {
    font-family: 'Noto Sans', sans-serif;

}

body { 
    background-color: gold;  
    margin: 0;
}

header {
    background-image: url(bokita2.jpg);
    color: whitesmoke;
    padding: 30px;
}

header h1 {
    text-align: left;
    font-style: italic;
}

.asd {
    color: white;
    transition: 0.3s ease;
    background-color: rgb(204, 173, 0);
    font-size: 1.5rem;
    padding: 1rem 5rem;
    display: inline-block;
    text-decoration: none;        
}

.asd:hover {
    background-color: rgb(255, 217, 0);
    color: blue
}

nav {
    background-color: rgba(0, 0, 255, 0.089);
    padding: 10px 50px;
}

#Titulo {
   display: block;
   background-color: rgba(0, 0, 255, 0.178);

}